<!-- <li>{{answer.rating}} - {{answer.content}} - by {{answer.author}}</li> -->

<div class="answers">
  <div class="answered">
    <p class="answer-a">Answer:</p>
    <p class="answer-b">{{answer.answer}}</p>
  </div>
  <div class="answer-author">
    <p class="answer-a">By: {{answer.author}}</p>
  </div>
  <div class="answer-rating">
    <p class="answer-c">Rating: {{answer.rating}}</p>
  </div>
</div>
